#bodymain
{
    background-color: #cccccc;
}

#headerDiv
{
    margin-left: 5%;
}

.menuBar
{
    background-color: #000000;
    color: white;   
    width: 90%;
    font-family: Impact, Charcoal, sans-serif;
}

.perTd
{
    padding: 20px;    
}

#myTh
{
    max-width: 100%;
}

#backDiv
{
    background-color:#666666;
    width: 85.5%;
    margin-left: 5%;
    height: 1010px;
    padding-top: 50px;
}

#leftBlock
{   
    height: 456px;
}

#bloqueleft1
{
    width: 30%;
    background-color: #333333;
    border-style: solid;
    height: 450px;
    margin-left: 12%;    
}

#bloqueleft2
{
    width: 30%;
    background-color: #333333;
    border-style: solid;
    height: 450px;
    margin-left: 12%;    
    float: left;
}

.separador
{    
    height: 50px;
    width: 100%;    
}

#rightBlock
{
    float: right;
    background-color: #333333;
    height: 96%;
    width: 35%;
    margin-right: 10%;
    margin-top: -45%;
    border-style: solid;
}